<header>

    <h2 id="h1"style="color: orange;">{{title}}</h2>
    <h4 id="h2">To continue you must agree to the terms of this license agreement</h4>

</header>

<div id="h3">
    <div class="messages">

<h1 style="color: aqua;">GRANT OF LICENSE</h1>

<p>
    1 UBISOFT (or its licensors) grants You a non-exclusive, non-transferable, non-sublicensed,non-commercial and personal license to install and/or use the Product (in whole or in part)
    and any Product (the “License”), for such time until either You or UBISOFT terminates this EULA.You must in no event use, nor allow others to use,the Product or this License for commercial purposes
    without obtaining a licence to do so from UBISOFT. Updates, upgrades, patches and modifications maybe necessary in order to be able to continueto use the Product on certain hardware. THIS PRODUCT IS LICENSED TO YOU, NOT SOLD.

</p>
<h1 style="color: aqua;"> OWNERSHIP</h1>
<p>
    All title, ownership rights and intellectual property rights in and to the Product
    (including, without limitation, all text, graphics, music or sounds,
    all messages or items of information, fictional characters, names, themes, objects,
    scenery, costumes, effects, dialogues, slogans, places, characters, diagrams, concepts, choreographies,
    videos, audio-visual effects, domain names and any other elements which are part of the Product,
    individually or in combination) and any and all copies thereof are owned by UBISOFT or its licensors.
    The Product is protected by national and international laws, copyright treaties and conventions and
    other laws. This Product may contain certain licensed materials and, in that event, UBISOFT’s licensors
    may protect their rights in the event of any violation of this Agreement.
    Any reproduction or representation of these licensed materials in any way
    reason is prohibited without UBISOFT’s prior permission and, if applicable,
    UBISOFT’s licensors’ and representatives’. Except as expressly set forth in
    this EULA, all rights not granted hereunder to You are expressly reserved by UBISOFT.

    This License confers no title or ownership in the Product and should not be construed as a sale of any rights in the
    Product.
</p>


</div>

</div>

<div class="button">
    <button style="color: red;"  type="submit" >Disagree</button>
    <button style="color: green;" id="disagree" type="submit" id="agree">I Agree</button>
</div>


